/* CSS declarations go here */

body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: monospace;
  font-size: 20px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: #fff;
}

img {
  max-width: 100vw;
  max-height: 100vh;
}

h1 {
  font-size: 1.6em;
}

h2 {
  margin: 1.5em 0 0.5em;
  font-size: 1.2em;
  color: #f0f0f0;
}

pre {
  text-align: left;
  display: inline-block;
}

small {
  font-size: 0.8em;
  color: #eee;
}

mark {
  background: #ffefaa;
}

#qr {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 100;
}

#counter {
  font-size: 25vh;
  font-family: sans-serif;
}

.tips {
  display: none;
  width: 400px;
  position:absolute;
  z-index: 99;
  background: #fff;
  opacity: .95;
  padding: 20px;
  color: #666;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.tips p {
  text-align: left;
}

.tip-btn {
  display: inline-block;
  color: #888;
  font-size: 3vh;
  font-family: serif;
  border: 1px solid #888;
  width: 3.5vh;
  height: 3.5vh;
  line-height: 3.5vh;
  border-radius: 50%;
  cursor: pointer
}

.tip-btn:hover {
  color: #ccc;
  border-color: #ccc;
}

.page {
  height: 100vh;
  background: #333;
  text-align: center;
  position: relative;
  padding: 10px;
}

.page:nth-child(odd) {
  background: #222;
}

.content {
  position:absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}
.content p {
  line-height: 1.8;
}
.content p:last-child {
  margin-bottom: 0;
}


@media (max-width: 640px) {
  .content {
    margin-top: -10%;
  }
  #qr {
    display: none;
  }
}
